Repository ryanep/recipe-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, alex

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "alex"
  ]
}

chore: update dockerfile to copy public folder
  dockerfile
  docs/icon.svg
  docs/screenshot.jpg
  docs/screenshot.png
  readme.md
Due: alex

chore: add eslint and prettier to root
  package.json
  yarn.lock
Due: none

chore: create recipe service
  packages/website/src/containers/home/index.tsx
  packages/website/src/containers/home/types.ts
  packages/website/src/containers/recipe/index.tsx
  packages/website/src/containers/recipe/types.ts
  packages/website/src/services/recipe/index.ts
  packages/website/src/services/recipe/types.ts
Due: eslint, prettier --write

chore: enable yarn workspaces and add sort-package-json lint-staged config
  .lintstagedrc
  package.json
  packages/sanity/package.json
  packages/sanity/yarn.lock
  packages/website/package.json
  readme.md
  yarn.lock
Due: alex

chore: configure stylelint and fix lint errors
  .lintstagedrc
  package.json
  packages/website/.stylelintrc
  packages/website/package.json
  packages/website/src/components/breadcrumbs/styles.ts
  packages/website/src/components/header/styles.ts
  packages/website/src/components/heading/styles.ts
  packages/website/src/components/ingredients/styles.ts
  packages/website/src/components/recipe-filters/styles.ts
  packages/website/src/components/recipe-grid/styles.ts
  packages/website/src/components/recipe-sidebar/styles.ts
  packages/website/src/components/root/styles.ts
  packages/website/src/components/serving-input/styles.ts
  packages/website/src/components/sidebar-layout/styles.ts
  packages/website/src/components/spacer/styles.ts
  packages/website/src/components/star-rating-filter/styles.ts
  packages/website/src/components/steps/styles.ts
  packages/website/src/components/unit-input/styles.ts
  packages/website/yarn.lock
  yarn.lock
Due: eslint, prettier --write

chore: move translations into i18n folder
  packages/website/src/i18n/index.ts
  packages/website/src/i18n/translations/en/common.json
  packages/website/src/i18n/translations/en/filters.json
  packages/website/src/i18n/translations/en/home.json
  packages/website/src/i18n/translations/en/recipe.json
  packages/website/src/i18n/translations/index.ts
Due: eslint, prettier --write

chore: initial set up
  .editorconfig
  .gitignore
  README.md
  next-env.d.ts
  package.json
  src/components/full-width-layout/index.tsx
  src/components/full-width-layout/styled.ts
  src/components/full-width-layout/types.ts
  src/components/heading/index.tsx
  src/components/heading/styles.ts
  src/components/heading/types.ts
  src/components/ingredients/index.tsx
  src/components/ingredients/styles.ts
  src/components/ingredients/types.ts
  src/components/providers/index.tsx
  src/components/providers/types.ts
  src/components/recipe-sidebar/index.tsx
  src/components/recipe-sidebar/styles.ts
  src/components/recipe-sidebar/types.ts
  src/components/root/index.tsx
  src/components/root/styles.ts
  src/components/root/types.ts
  src/components/spacer/index.tsx
  src/components/spacer/styles.ts
  src/components/spacer/types.ts
  src/components/steps/index.tsx
  src/components/steps/styles.ts
  src/components/steps/types.ts
  src/containers/recipe/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/colours.ts
  src/styles/media.ts
  src/styles/sizing.ts
  src/styles/spacing.ts
  src/styles/theme.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write, alex

chore: replace simple-git-hooks with husky and configure commitlint
  .commitlintrc
  .editorconfig
  .huskyrc
  .simple-git-hooks.json
  package.json
  yarn.lock
Due: none

chore: configure file name linting
  .huskyrc
  .ls-lint.yml
  package.json
  yarn.lock
Due: none

chore: upgrade next to version 10.1.0
  .ls-lint.yml
  packages/website/next.config.js
  packages/website/package.json
  yarn.lock
Due: none

feat: persist setting values to local storage
  packages/website/src/context/settings/index.tsx
  packages/website/src/hooks/context/settings/index.ts
  packages/website/src/hooks/misc/local-storage/index.ts
Due: eslint, prettier --write

chore: upgrade website dockerfile node version to 14.15.4
  packages/website/dockerfile
Due: none

feat: add name recipe filter
  packages/website/.eslintrc
  packages/website/src/components/recipe-filters/index.tsx
  packages/website/src/components/recipe-filters/styles.ts
  packages/website/src/components/star-rating-filter/index.tsx
  packages/website/src/containers/home/index.tsx
  packages/website/src/containers/home/types.ts
  packages/website/src/i18n/translations/en/filters.json
  packages/website/src/services/recipe/index.ts
  packages/website/src/services/recipe/types.ts
Due: eslint, prettier --write

fix: improve sidebar layout and recipe filter styling
  packages/website/src/components/recipe-filters/index.tsx
  packages/website/src/components/recipe-filters/styles.ts
  packages/website/src/components/sidebar-layout/styles.ts
Due: eslint, prettier --write

chore: specify sanity api version
  packages/website/src/utils/sanity.ts
Due: eslint, prettier --write

chore: split sanity schema into separate files
  .ls-lint.yml
  packages/sanity/package.json
  packages/sanity/schemas/ingredient.js
  packages/sanity/schemas/recipe.js
  packages/sanity/schemas/schema.js
  packages/sanity/schemas/step.js
  packages/sanity/tsconfig.json
  packages/sanity/yarn.lock
Due: none

chore: update readme file
  readme.md
  yarn.lock
Due: alex

chore: configure lerna and add dev script
  lerna.json
  package.json
  packages/sanity/package.json
  packages/website/package.json
  packages/website/yarn.lock
  readme.md
  yarn.lock
Due: alex

chore: update package repository property
  package.json
  packages/sanity/package.json
  packages/website/package.json
Due: none
