Repository ryanep/recipe-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint, alex, sort-package-json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "styles.ts": [
    "stylelint"
  ],
  "*.{md,mdx}": [
    "alex"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: update package repository property
  package.json
  packages/sanity/package.json
  packages/website/package.json
Due: sort-package-json

chore: update readme file
  readme.md
Due: alex

chore: create license
  license.md
  readme.md
Due: alex

chore: update readme screenshot
  docs/screenshot.png
  readme.md
Due: alex

Notes added by 'git notes add'
  190529431529692c9743428525f69d3bf4135b60
Due: none

chore: configure semantic-release
  .releaserc
  package.json
  yarn.lock
Due: sort-package-json

Notes added by 'git notes add'
  1c8b9534d563863d72aa7cc13c2a9981a926fa59
Due: none

chore: add changelog
  changelog.md
Due: alex

chore: fix static analysis issues
  packages/website/src/components/heading/styles.ts
  packages/website/src/components/heading/types.ts
  packages/website/src/components/spacer/styles.ts
  packages/website/src/components/spacer/types.ts
  packages/website/src/components/star-rating-filter/index.tsx
  packages/website/src/services/recipe/types.ts
Due: eslint, prettier --write, stylelint

feat: add additional measurements
  packages/sanity/schemas/ingredient.js
  packages/website/package.json
  packages/website/src/components/unit-input/index.tsx
  packages/website/src/constants/units.ts
  packages/website/src/containers/recipe/index.tsx
  packages/website/src/context/settings/index.tsx
  packages/website/src/context/settings/types.ts
  packages/website/src/utils/ingredient.ts
  packages/website/yarn.lock
Due: eslint, prettier --write, sort-package-json

fix: localise recipe units
  packages/website/src/components/ingredients/index.tsx
  packages/website/src/i18n/index.ts
  packages/website/src/i18n/translations/en/units.json
  packages/website/src/i18n/translations/index.ts
  packages/website/src/styles/spacing.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  a1c23441c5d12118a3afcb0be6c9c0572d019970
Due: none

chore: update package version and changelog
  changelog.md
  package.json
Due: alex, sort-package-json

chore: configure git and npm semantic-release packages
  .releaserc
  package.json
  yarn.lock
Due: sort-package-json

Notes added by 'git notes add'
  ecae876c9f220c9cafb90c10a0fc636f444c816b
Due: none

chore: update i18n format condition
  packages/website/src/i18n/index.ts
Due: eslint, prettier --write

feat: add header settings dropdown with manage recipes link
  packages/website/src/components/header/index.tsx
  packages/website/src/components/header/styles.ts
  packages/website/src/components/root/styles.ts
Due: eslint, prettier --write, stylelint

chore: release v1.2.0
  changelog.md
  package.json
Due: alex, sort-package-json

Notes added by 'git notes add'
  614f728b4b5364da369f97ef3c72a1d925b03fde
Due: none

fix: fix ingredient name wrapping on mobile
  packages/website/src/components/ingredients/styles.ts
Due: eslint, prettier --write, stylelint

chore: release v1.2.1
  changelog.md
  package.json
Due: alex, sort-package-json

Notes added by 'git notes add'
  c58530a63cc50b43e7b334ce85c816d5b8e87435
Due: none

chore: upgrade all dependencies
  packages/website/dockerfile
  packages/website/package.json
  packages/website/yarn.lock
Due: sort-package-json

chore: upgrade sanity
  packages/sanity/package.json
  packages/sanity/yarn.lock
Due: sort-package-json

chore: add validation to sanity schema
  packages/sanity/schemas/recipe.js
Due: none

feat: resize recipe images
  packages/website/src/components/recipe-grid/index.tsx
  packages/website/src/components/recipe-sidebar/index.tsx
Due: eslint, prettier --write

chore: update yarn.lock file
  packages/sanity/yarn.lock
  packages/website/yarn.lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  16fc0d7fdbf5b57644283f75502b31d4f12c6531
Due: none

chore: create release-version makefile target
  makefile
Due: none

chore: convert sanity schema to typescript
  packages/sanity/.eslintrc
  packages/sanity/package.json
  packages/sanity/schemas/ingredient.ts
  packages/sanity/schemas/recipe.ts
  packages/sanity/schemas/schema.ts
  packages/sanity/schemas/step.ts
  packages/sanity/tsconfig.json
  packages/sanity/yarn.lock
Due: eslint, prettier --write, sort-package-json
