Repository ryanep/recipe-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint, alex, sort-package-json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "styles.ts": [
    "stylelint"
  ],
  "*.{md,mdx}": [
    "alex"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: add serverless config
  .gitignore
  .ls-lint.yml
  makefile
  packages/website/serverless.yml
  yarn.lock
Due: none

chore: upgrade sanity
  packages/sanity/package.json
  packages/sanity/yarn.lock
  yarn.lock
Due: sort-package-json

chore: upgrade sanity to v3
  .eslintrc
  .gitignore
  .ls-lint.yml
  package.json
  packages/sanity/.eslintignore
  packages/sanity/.eslintrc
  packages/sanity/.eslintrc.js
  packages/sanity/.prettierrc
  packages/sanity/package.json
  packages/sanity/sanity.cli.ts
  packages/sanity/sanity.config.ts
  packages/sanity/sanity.json
  packages/sanity/schemas/index.ts
  packages/sanity/schemas/ingredient.ts
  packages/sanity/schemas/recipe.ts
  packages/sanity/schemas/schema.ts
  packages/sanity/schemas/step.ts
  packages/sanity/tsconfig.json
  packages/sanity/yarn.lock
  packages/website/.prettierrc
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write, sort-package-json

chore: fix type errors
  packages/sanity/package.json
  packages/website/.babelrc
  packages/website/.eslintignore
  packages/website/next.config.js
  packages/website/package.json
  packages/website/src/components/full-width-layout/index.tsx
  packages/website/src/components/full-width-layout/styles.ts
  packages/website/src/pages/_document.tsx
  packages/website/yarn.lock
  yarn.lock
Due: eslint, prettier --write, stylelint, sort-package-json

chore: fix website deployment
  .tool-versions
  makefile
  package-lock.json
  packages/website/package.json
  packages/website/serverless.yml
  packages/website/yarn.lock
  yarn.lock
Due: sort-package-json

fix: handle no recipe tags
  packages/website/src/components/recipe-grid/recipe-grid.tsx
  packages/website/src/types/sanity.ts
  packages/website/src/utils/sanity.ts
Due: eslint, prettier --write

feat: create link component
  packages/website/src/components/breadcrumbs/breadcrumbs.tsx
  packages/website/src/components/link/index.ts
  packages/website/src/components/link/link.tsx
  packages/website/src/components/link/types.ts
  packages/website/src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

fix: add cloudfront distribution id to serverless config
  makefile
  packages/website/serverless.yml
Due: none

feat: readd tags sanity plugin
  package-lock.json
  packages/sanity/package.json
  packages/sanity/sanity.config.ts
  packages/sanity/schemas/recipe.ts
  packages/sanity/yarn.lock
  yarn.lock
Due: eslint, prettier --write, sort-package-json

chore: remove ls-lint
  .ls-lint.yml
  package-lock.json
  package.json
Due: sort-package-json

chore: migrate from yarn to npm
  package-lock.json
  packages/sanity/yarn.lock
  packages/website/dockerfile
  packages/website/yarn.lock
  readme.md
  yarn.lock
Due: alex

chore: update next and start move to app directory
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  changelog.md
  eslint.config.js
  next.config.js
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  src/app/layout.tsx
  src/app/page.tsx
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/heading/styles.ts
  src/containers/home/types.ts
  src/containers/recipe/recipe-container.tsx
  src/containers/recipe/types.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.ts
  src/pages/recipe/[id].tsx
  src/services/recipe/index.ts
  src/services/recipe/types.ts
  src/styles/colours.ts
  src/styles/global.css
  src/styles/media.ts
  src/styles/sizing.ts
  src/styles/spacing.ts
  src/styles/theme.ts
  src/types/sanity.ts
  src/utils/ingredient.ts
  src/utils/sanity.ts
  tailwind.config.js
  tsconfig.json
Due: eslint, prettier --write, stylelint, alex, sort-package-json

chore: add and configure i18n
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  package-lock.json
  package.json
  src/app/page.tsx
  src/i18n/client.ts
  src/i18n/index.ts
  src/i18n/locales/en/common.json
  src/i18n/locales/en/filters.json
  src/i18n/locales/en/home.json
  src/i18n/locales/en/recipe.json
  src/i18n/locales/en/units.json
  src/i18n/options.ts
  src/i18n/server.ts
  src/i18n/translations/index.ts
  src/types/i18next.d.ts
Due: eslint, prettier --write, sort-package-json

feat: add prisma config
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .gitignore
  package-lock.json
  package.json
  postcss.config.js
  prisma/migrations/20240419205317_initial_schema/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/recipes.sqlite
  prisma/recipes.sqlite-journal
  prisma/schema.prisma
  src/app/layout.tsx
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/checkbox/checkbox.tsx
  src/components/full-width-layout/full-width-layout.tsx
  src/components/header/header.tsx
  src/components/heading/heading.tsx
  src/components/ingredients/ingredients.tsx
  src/components/link/link.tsx
  src/components/measurement-unit-input/measurement-unit-input.tsx
  src/components/recipe-filters/recipe-filters.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/components/recipe-sidebar/recipe-sidebar.tsx
  src/components/root/root.tsx
  src/components/serving-input/serving-input.tsx
  src/components/sidebar-layout/sidebar-layout.tsx
  src/components/star-rating-filter/star-rating-filter.tsx
  src/components/star-rating/star-rating.tsx
  src/components/steps/steps.tsx
  src/config.ts
  src/containers/home/home-container.tsx
  src/containers/recipe/recipe-container.tsx
  tailwind.config.js
Due: eslint, prettier --write, sort-package-json

chore: update devcontainer to add sqlite editor extension
  .devcontainer/devcontainer.json
Due: none

chore: add database seed data
  .gitignore
  prisma/recipes.sqlite
  prisma/recipes.sqlite-journal
  prisma/schema.prisma
  prisma/seed/index.ts
Due: eslint, prettier --write

chore: convert header styles to tailwind
  src/app/layout.tsx
  src/components/header/header.tsx
  src/components/header/styles.ts
Due: eslint, prettier --write, stylelint

feat: add new recipe page
  next.config.mjs
  prisma/migrations/20240428080353_initial/migration.sql
  prisma/schema.prisma
  prisma/seed/index.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/breadcrumbs/styles.ts
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.ts
  src/components/checkbox/styles.ts
  src/components/full-width-layout/full-width-layout.tsx
  src/components/full-width-layout/index.ts
  src/components/full-width-layout/styles.ts
  src/components/header/header.tsx
  src/components/heading/heading.tsx
  src/components/heading/styles.ts
  src/components/ingredients/ingredients.tsx
  src/components/ingredients/styles.ts
  src/components/link/link.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/components/recipe-grid/styles.ts
  src/components/star-rating/star-rating.tsx
  src/components/star-rating/styles.ts
  src/components/steps/steps.tsx
  src/components/steps/styles.ts
  src/i18n/server.ts
Due: eslint, prettier --write, stylelint

chore: remove unused components
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  next.config.mjs
  package-lock.json
  package.json
  prisma/migrations/20240430182934_initial/migration.sql
  prisma/schema.prisma
  prisma/seed/index.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/components/heading/heading.tsx
  src/components/measurement-unit-input/index.ts
  src/components/measurement-unit-input/measurement-unit-input.tsx
  src/components/measurement-unit-input/styles.ts
  src/components/recipe-filters/index.ts
  src/components/recipe-filters/recipe-filters.tsx
  src/components/recipe-filters/styles.ts
  src/components/recipe-sidebar/index.ts
  src/components/recipe-sidebar/recipe-sidebar.tsx
  src/components/recipe-sidebar/styles.ts
  src/components/root/index.ts
  src/components/root/root.tsx
  src/components/root/styles.ts
  src/components/serving-input/index.ts
  src/components/serving-input/serving-input.tsx
  src/components/serving-input/styles.ts
  src/components/sidebar-layout/index.ts
  src/components/sidebar-layout/sidebar-layout.tsx
  src/components/sidebar-layout/styles.ts
  src/components/star-rating-filter/index.ts
  src/components/star-rating-filter/star-rating-filter.tsx
  src/components/star-rating-filter/styles.ts
  src/components/steps/steps.tsx
  src/containers/home/home-container.tsx
  src/containers/home/index.ts
  src/containers/recipe/index.ts
  src/containers/recipe/recipe-container.tsx
  src/utils/ingredient.ts
Due: eslint, prettier --write, stylelint, sort-package-json

feat: add responsive styling on recipe page
  src/app/recipe/[recipeId]/page.tsx
  src/components/star-icon/index.ts
  src/components/star-icon/star-icon.tsx
  src/components/star-rating/star-rating.tsx
  src/components/star/index.ts
Due: eslint, prettier --write

chore: update version and makefile
  dockerfile
  makefile
  package-lock.json
  package.json
Due: sort-package-json

feat: add pagination component
  .gitignore
  package-lock.json
  package.json
  prisma/seed/index.ts
  src/app/image/route.ts
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/actions.ts
  src/app/recipe/create/page.tsx
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/header/header.tsx
  src/components/image/image.tsx
  src/components/image/index.ts
  src/components/pagination/index.ts
  src/components/pagination/pagination.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/database.ts
  src/i18n/locales/en/common.json
  src/i18n/locales/en/home.json
  src/i18n/locales/en/units.json
  src/i18n/server.ts
  src/utils/form.ts
  src/utils/page.ts
Due: eslint, prettier --write, sort-package-json

feat: add initial mintlify docs
  docs/introduction.mdx
  mint.json
  package-lock.json
  package.json
Due: alex, sort-package-json

chore: add import script
  .gitignore
  image-import.ts
  package.json
  prisma/migrations/20240430182934_initial/migration.sql
  prisma/migrations/20240506090603_initial/migration.sql
  prisma/schema.prisma
  prisma/seed/index.ts
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/actions.ts
  src/app/settings/[import]/actions.ts
  src/app/settings/[import]/page.tsx
  src/app/settings/page.tsx
  src/components/ingredients/ingredients.tsx
  src/components/pagination/pagination.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write, sort-package-json

feat: add light mode theme
  .gitignore
  makefile
  package.json
  src/app/image/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/header/header.tsx
  src/components/ingredients/ingredients.tsx
  src/components/pagination/pagination.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/components/star-rating/star-rating.tsx
  src/components/steps/steps.tsx
Due: eslint, prettier --write, sort-package-json

feat: add csp
  makefile
  next.config.mjs
  package-lock.json
  package.json
  src/middleware.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

feat: add favicon
  src/app/layout.tsx
Due: eslint, prettier --write

chore: upgrade react to v19 release candidate
  next.config.mjs
  package-lock.json
  package.json
Due: sort-package-json

chore: update devcontainer to add feature docker
  .devcontainer/devcontainer.json
Due: none

feat: add recipe search filter
  src/app/actions.ts
  src/app/error.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/button/button.tsx
  src/components/button/index.ts
Due: eslint, prettier --write

chore: release v2.0.0-alpha.4
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: update readme screenshot
  docs/screenshot-dark.webp
  docs/screenshot-light.webp
  docs/screenshot.png
  readme.md
Due: alex

chore: minor style adjustments
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/settings/[import]/actions.ts
  src/components/recipe-grid/recipe-grid.tsx
  src/components/star-icon/star-icon.tsx
  src/components/star-rating/star-rating.tsx
Due: eslint, prettier --write

feat: add serving size adjuster
  src/app/recipe/[recipeId]/actions.ts
  src/app/recipe/[recipeId]/page.tsx
  src/components/ingredients/ingredients.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.5
  makefile
  package-lock.json
  package.json
Due: sort-package-json

fix: remove typescript config from next config
  next.config.mjs
Due: none
