Repository ryanep/recipe-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint, alex, sort-package-json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "styles.ts": [
    "stylelint"
  ],
  "*.{md,mdx}": [
    "alex"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: upgrade react version
  package-lock.json
  package.json
Due: sort-package-json

feat: add star rating filter
  src/app/actions.ts
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
Due: eslint, prettier --write

feat: breadcrumb and ingredient component style improvements
  src/components/breadcrumbs/breadcrumbs.tsx
  src/components/ingredients/ingredients.tsx
Due: eslint, prettier --write

chore: remove seed script
  package.json
  prisma/seed/index.ts
Due: eslint, prettier --write, sort-package-json

fix: fix page metadata
  src/app/page.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.6
  makefile
  package-lock.json
Due: none

fix: tweak ingredients component styling
  src/components/ingredients/ingredients.tsx
Due: eslint, prettier --write

fix: update recipe grid card heading styling
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

feat: remove recipe tags
  prisma/migrations/20240531174832_remove_tags/migration.sql
  prisma/schema.prisma
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.7
  makefile
  package-lock.json
  package.json
Due: sort-package-json

feat: update schema to add recipe schema
  prisma/migrations/20240531180651_recipe_category/migration.sql
  prisma/schema.prisma
Due: none

fix: add unique index on category database model
  prisma/migrations/20240531181622_recipe_category_unique/migration.sql
  prisma/schema.prisma
Due: none

chore: remove unneccesary eslint disable comments
  package-lock.json
  package.json
  src/components/ingredients/ingredients.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write, sort-package-json

feat: create initial input components
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/actions.ts
  src/app/recipe/create/page.tsx
  src/components/button/button.tsx
  src/components/input/index.ts
  src/components/input/input.tsx
  src/components/select/index.ts
  src/components/select/select.tsx
  src/components/textarea/index.ts
  src/components/textarea/textarea.tsx
Due: eslint, prettier --write

chore: upgrade node to v22.2.0
  .devcontainer/devcontainer.json
  dockerfile
  package-lock.json
  package.json
Due: sort-package-json

feat: implement initial delete recipe modal
  src/app/recipe/[recipeId]/@modal/default.tsx
  src/app/recipe/[recipeId]/@modal/delete/actions.ts
  src/app/recipe/[recipeId]/@modal/delete/page.tsx
  src/app/recipe/[recipeId]/@modal/page.tsx
  src/app/recipe/[recipeId]/layout.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/page.tsx
  src/components/button/button.tsx
  src/components/modal/index.ts
  src/components/modal/modal.tsx
  src/services/recipe.ts
  src/styles/global.css
Due: eslint, prettier --write

chore: release v2.0.0-alpha.8
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: update devcontainer config to add post start command
  .devcontainer/devcontainer.json
Due: none

fix: improve recipe grid styling
  src/app/recipe/[recipeId]/page.tsx
  src/components/heading/heading.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

fix: style tweaks
  src/app/page.tsx
  src/app/recipe/[recipeId]/@modal/page.tsx
Due: eslint, prettier --write

feat: add primary components on create recipe page
  src/app/recipe/create/actions.ts
  src/app/recipe/create/page.tsx
  src/components/button/button.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.9
  makefile
  package-lock.json
  package.json
  src/app/recipe/create/actions.ts
Due: eslint, prettier --write, sort-package-json

feat: support editing recipe
  src/app/recipe/[recipeId]/edit/actions.ts
  src/app/recipe/[recipeId]/edit/page.tsx
  src/app/recipe/create/page.tsx
  src/app/settings/[import]/actions.ts
  src/components/input/input.tsx
  src/components/recipe-form/index.ts
  src/components/recipe-form/recipe-form.tsx
  src/components/select/select.tsx
  src/components/textarea/textarea.tsx
  src/services/recipe.ts
Due: eslint, prettier --write

chore: release v2.0.0-alpha.10
  .gitignore
  makefile
  package-lock.json
  package.json
Due: sort-package-json

feat: add recipe soft delete
  prisma/migrations/20240615152612_recipe_deleted_at/migration.sql
  prisma/schema.prisma
  src/app/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/services/recipe.ts
Due: eslint, prettier --write

chore: release v2.0.0-alpha.11
  makefile
  package-lock.json
  package.json
Due: sort-package-json

feat: create wake lock component
  src/app/recipe/[recipeId]/page.tsx
  src/components/wake-lock/index.ts
  src/components/wake-lock/wake-lock.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.12
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade dependencies
  package-lock.json
  package.json
Due: sort-package-json

feat: add create recipe button in header
  src/app/page.tsx
  src/components/header/header.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/utils/page.ts
Due: eslint, prettier --write

fix: update recipe form button text
  src/app/recipe/[recipeId]/edit/page.tsx
  src/app/recipe/create/page.tsx
  src/components/recipe-form/recipe-form.tsx
Due: eslint, prettier --write

chore: add vscode launch configuration
  .vscode/launch.json
Due: none

chore: release v2.0.0-alpha.13
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: remove settings page
  src/app/settings/[import]/actions.ts
  src/app/settings/[import]/page.tsx
  src/app/settings/page.tsx
Due: eslint, prettier --write

fix: move favicon to app directory
  public/images/favicon.png
  src/app/favicon.ico
Due: none

fix: update home page meta data and template
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier --write

chore: update all recipes page to use recipe service
  src/app/page.tsx
  src/constants/settings.ts
  src/services/recipe.ts
Due: eslint, prettier --write

chore: move recipe page icons to new components
  src/app/recipe/[recipeId]/page.tsx
  src/components/icons/horizontal-dots-icon/horizontal-dots-icon.tsx
  src/components/icons/horizontal-dots-icon/index.ts
  src/components/icons/index.ts
  src/components/icons/minus-icon/index.ts
  src/components/icons/minus-icon/minus-icon.tsx
  src/components/icons/plus-icon/index.ts
  src/components/icons/plus-icon/plus-icon.tsx
Due: eslint, prettier --write

fix: update breadcrumbs component logic
  src/components/breadcrumbs/breadcrumbs.tsx
Due: eslint, prettier --write

chore: improve create/edit recipe pages
  src/app/recipe/[recipeId]/edit/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/page.tsx
  src/components/recipe-form/recipe-form.tsx
  src/utils/page.ts
Due: eslint, prettier --write
