Repository ryanep/recipe-cards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint, alex, sort-package-json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint",
    "prettier --write"
  ],
  "styles.ts": [
    "stylelint"
  ],
  "*.{md,mdx}": [
    "alex"
  ],
  "package.json": [
    "sort-package-json"
  ]
}

chore: update recipe service usage
  src/app/recipe/[recipeId]/@modal/delete/actions.ts
  src/app/recipe/[recipeId]/@modal/delete/page.tsx
  src/services/recipe.ts
Due: eslint, prettier --write

chore: release v2.0.0-alpha.14
  makefile
  package-lock.json
  package.json
Due: sort-package-json

feat: improve recipe ingredients and steps styling
  src/components/ingredients/ingredients.tsx
  src/components/steps/steps.tsx
Due: eslint, prettier --write

feat: improve image upload and edit recipe page
  package-lock.json
  package.json
  src/app/recipe/[recipeId]/edit/actions.ts
  src/app/recipe/[recipeId]/page.tsx
  src/components/input/input.tsx
  src/components/recipe-form/recipe-form.tsx
  src/components/select/select.tsx
  src/components/textarea/textarea.tsx
Due: eslint, prettier --write, sort-package-json

chore: release v2.0.0-alpha.15
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: add dockerignore file
  .dockerignore
Due: none

chore: release v2.0.0-alpha.16
  makefile
  package-lock.json
  package.json
Due: sort-package-json

fix: update recipe image upload and increase server action max body size
  next.config.mjs
  src/app/image/route.ts
  src/app/recipe/[recipeId]/page.tsx
  src/components/recipe-form/recipe-form.tsx
  src/components/recipe-grid/recipe-grid.tsx
Due: eslint, prettier --write

chore: release v2.0.0-alpha.17
  makefile
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade eslint and prettier configs
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade eslint and eslint config
  package-lock.json
  package.json
  src/components/pagination/pagination.tsx
  src/components/wake-lock/wake-lock.tsx
Due: eslint, prettier --write, sort-package-json

chore: upgrade dependencies
  next-env.d.ts
  package-lock.json
  package.json
  src/app/page.tsx
  src/app/recipe/[recipeId]/@modal/delete/page.tsx
  src/app/recipe/[recipeId]/actions.ts
  src/app/recipe/[recipeId]/edit/actions.ts
  src/app/recipe/[recipeId]/edit/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/app/recipe/create/actions.ts
  src/components/heading/heading.tsx
  src/services/recipe.ts
Due: eslint, prettier --write, sort-package-json

feat: add assistant page
  makefile
  package-lock.json
  package.json
  prisma/migrations/migration_lock.toml
  src/app/actions.ts
  src/app/assistant/page.tsx
  src/app/page.tsx
  src/app/recipe/[recipeId]/@modal/delete/actions.ts
  src/app/recipe/[recipeId]/edit/actions.ts
  src/app/recipe/[recipeId]/edit/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/components/header/header.tsx
  src/config.ts
  src/utils/openai.ts
  src/utils/page.ts
Due: eslint, prettier --write, sort-package-json

chore: update package json version number to development
  package-lock.json
  package.json
Due: sort-package-json

chore: update package name
  package-lock.json
  package.json
Due: sort-package-json

chore: add sqltools and database setting
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

chore: upgrade devcontainer node version to 22.12.0
  .devcontainer/devcontainer.json
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore: add upgrade script
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade tailwind to v4
  package-lock.json
  package.json
  postcss.config.js
  src/app/assistant/page.tsx
  src/app/recipe/[recipeId]/page.tsx
  src/components/header/header.tsx
  src/components/ingredients/ingredients.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/recipe-form/recipe-form.tsx
  src/components/recipe-grid/recipe-grid.tsx
  src/components/select/select.tsx
  src/components/steps/steps.tsx
  src/components/textarea/textarea.tsx
  src/styles/global.css
  tailwind.config.js
Due: eslint, prettier --write, sort-package-json

feat: add logo component
  src/components/header/header.tsx
  src/components/logo/index.ts
  src/components/logo/logo.tsx
Due: eslint, prettier --write

chore: fix tailwind lint errors
  src/app/recipe/[recipeId]/page.tsx
  src/components/header/header.tsx
  src/components/ingredients/ingredients.tsx
  src/components/input/input.tsx
  src/components/logo/logo.tsx
  src/components/modal/modal.tsx
  src/components/recipe-form/recipe-form.tsx
  src/components/select/select.tsx
  src/components/steps/steps.tsx
  src/components/textarea/textarea.tsx
Due: eslint, prettier --write

feat: update favicon
  docs/icon.svg
  docs/introduction.mdx
  makefile
  src/app/favicon.ico
Due: alex

chore: disable tailwind rule
  eslint.config.js
Due: none

chore: update readme screenshot
  docs/screenshot-dark.webp
  docs/screenshot-light.webp
Due: none

chore: update readme file
  readme.md
Due: alex

chore: configure husky and commitlint
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  commitlint.config.ts
  package-lock.json
  package.json
Due: eslint, prettier --write, sort-package-json

chore: remove old husky config
  .huskyrc
Due: none

feat: create assistant form
  package-lock.json
  package.json
  src/app/assistant/page.tsx
  src/app/layout.tsx
  src/components/assistant-form/actions.ts
  src/components/assistant-form/assistant-form.tsx
  src/components/assistant-form/index.tsx
  src/components/button/button.tsx
  src/components/loader/index.ts
  src/components/loader/loader.tsx
  src/i18n/locales/en/common.json
  src/i18n/server.ts
Due: eslint, prettier --write, sort-package-json
